@font-face { font-family: Medieval; src: url('font/MedievalTimes-AL7l6.ttf'); } 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type:  none;
}

body {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1000;
    background-color: black;
}

#firstSection {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    #contentContainer {
        width: 90%;
        height: auto;
    }
    
    #navigationContainer {
        padding: 2.5rem 0rem 2.5rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #hMenuButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        outline: none;
        border: none;
    }

    .menu {
        width: 30px;
    }

    .bag {
        width: 36px;
    }
    
    #logo {
        height: 5rem;
        width: auto;
    }

    #navLinksContainer {
        display: none;
    }

    #logoContainer {
        text-align: center;
    }

    .navLink {
        color: #FFFFFF;
        font-size: 0.9rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        text-align: center;
        padding: 0.3rem 0rem;
        border-bottom: 2px solid transparent;
    }

    .active {
        border-bottom: 2px solid white;
    }
    
    #textContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10rem 0rem 10rem 0rem;
    }
    
    #bottomTextContainer {
        position: absolute;
        z-index: 1;
    }
    
    #topTextContainer {
        position: absolute;
        z-index: 2;
    }
    
    h1 {
        font-size: 3.5rem;
        text-align: center;
        color: #601616;
        font-family: 'Medieval';
        text-align: center;
        line-height: 1;
    }
    
    h2 {
        color: #FFFFFF;
        font-size: 1.75rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 800;
        text-align: center;
    }

    #firstSection {
        background-color: #161616;
        border-radius: 10px;
        width: 100%;
        aspect-ratio: 1/1.38;
    }

    #secondSection {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 1.25rem;
        margin-top: 2.5rem;
    }

    #firstGrid {
        width: 100%;
        height: 100%;
    }
    
    #nextMatch {
        border-radius: 15px;
        background: rgb(34,9,0);
        background: -moz-linear-gradient(0deg, rgba(34,9,0,1) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(34,9,0,1) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(0deg, rgba(34,9,0,1) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#220900",endColorstr="#000000",GradientType=1);
        border: 1px solid #220900;
    }
    
    #latestMatchContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 15px;
        border: 1px solid #101010;
        position: relative;
        overflow: hidden;
    }
    
    #matchOverlay {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 33%, rgba(0,0,0,0.9) 66%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 33%, rgba(0,0,0,0.9) 66%, rgba(0,0,0,0.8) 100%);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 33%, rgba(0,0,0,0.9) 66%, rgba(0,0,0,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }
    
    #secondGrid {
        width: 95%;
        max-width: 2000px;
        display: flex;
        margin-top: 5vw;
        gap: 1.25vw;
        margin-bottom: 2.5vw;
        visibility: hidden;
    }
    
    #mensTeam {
        border: 1px solid #101010;
        border-radius: 15px;
        aspect-ratio: 1 / 0.7;
        flex-grow: 1.5;   
    }
    
    #womensTeam {
        border: 1px solid #101010;
        border-radius: 15px;
        aspect-ratio: 1 / 0.7;
        flex-grow: 1.5;   
    }
    
    #shop {
        border: 1px solid #101010;
        border-radius: 15px;
        aspect-ratio: 1 / 0.7;
        flex-grow: 1;   
    }
    
    .slideshow-container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    #matchReport {
        
    }
    
    .bgOverlay {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 33%, rgba(0,0,0,0.9) 66%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 33%, rgba(0,0,0,0.9) 66%, rgba(0,0,0,0.8) 100%);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 33%, rgba(0,0,0,0.9) 66%, rgba(0,0,0,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        position: relative;
    }
    
    .slideContent {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
    }

    #newKit {
    }
    
    #dotsContainer {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        flex-direction: row;
        z-index: 10;
        width: 100%;
        bottom: 0;
        position: absolute;
        gap: 5px;
        padding: 1.5rem 0;
        justify-content: center;
    }
    
    .dot {
        height: 4px;
        width: 20vw;
        background-color: #242424;
        border-radius: 5px;
        transition: background-color 1s ease;
    }
    
    .active {
        background-color: #717171;
    }
    
    
    .fade {
        animation-name: fade;
        animation-duration: 2s;
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }













    .secondContainer {
        border-radius: 10px;
        background-color: #121212 ;
        aspect-ratio: 1 / 1;
        border: 1px solid #181818;
    }
    
    .top {
        margin-top: 7.5rem;
    }
    
    .teamSectionContainer {
        padding: 2.5rem 0rem 2.5rem 0rem;
    }
    
    h3 {
        color: #404040;
        font-size: 1rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
    }
    
    .playerRowContainer {
        margin-top: 2.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1vw;
        grid-row-gap: 2vw;
    }
    
    .playerContainer {
        border: 1px solid #1E1E1E;
        aspect-ratio: 1 / 1.1;
        cursor: pointer;
        position: relative;
    }
    
    .playerContainer:hover {
        border: 1px solid #252525;
        overflow: hidden;
    }
    
    .playerInfoContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: absolute;
        z-index: 1;
    }

    .playerInfoLeft {
        display: flex;
        align-items: center;
        padding-left: 0.6rem;
        padding-top: 0.30rem;
    }

    .playerNatContainer {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .playerNatImgContainer {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .natImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    #vignetteContainer {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: -moz-radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7623643207282913) 49%, rgba(0,0,0,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7623643207282913) 49%, rgba(0,0,0,1) 100%);
        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7623643207282913) 49%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }
    
    h4 {
        color: #601616;
        font-family: 'Medieval';
        font-size: 4rem;
    }
    
    h5 {
        color: white;
        font-family: 'Manrope', sans-serif;
        font-size: 0.8rem;
        position: absolute;
        font-weight: 900;
        z-index: 2;
    }
    
    .playerImageContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('img/mockup.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: auto 100%;
    }

    .gk {
        background-image: url('img/mockup_g.png');
    }

    #sponsorGridContainer {
        width: 100%;
        margin: 5rem 0rem 10rem 0rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        justify-items: center;
    }

    .sponsorImg {
        height: 2.5rem;
        width: auto;
    }
}

@media only screen and (min-width: 600px) {
    #contentContainer {
        max-width: 95vw;
        width: 100%;
        height: auto;
    }
    
    #navigationContainer {
        padding: 2.5rem 0rem;
        display: grid;
        grid-template-columns: max-content auto;
        grid-column-gap: 5rem;
        align-items: center;
    }
    
    #hMenuButton {
        display: none;
    }

    #logo {
        height: 5rem;
        width: auto;
    }

    #navLinksContainer {
        display: grid;
        grid-template-columns: repeat(5, max-content);
        grid-column-gap: 2rem;
    }

    #logoContainer {
        text-align: center;
    }

    .navLink {
        color: #FFFFFF;
        font-size: 0.9rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        text-align: center;
        padding: 0.3rem 0rem;
        border-bottom: 2px solid transparent;
    }
    
    .active {
        border-bottom: 2px solid white;
    }

    #textContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15rem 0rem 10rem 0rem;
    }
    
    #bottomTextContainer {
        position: absolute;
        z-index: 1;
    }
    
    #topTextContainer {
        position: absolute;
        z-index: 2;
    }
    
    h1 {
        font-size: 7rem;
        text-align: center;
        color: #601616;
        font-family: 'Medieval';
        text-align: center;
    }
    
    h2 {
        color: #FFFFFF;
        font-size: 1.75rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 800;
        text-align: center;
    }
    
    #firstSection {
        background-color: #161616;
        border-radius: 10px;
        width: 100%;
        height: 700px;
    }

    #secondSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.25rem;
        margin-top: 2.5rem;
    }

    .secondContainer {
        border-radius: 10px;
        background-color: #121212 ;
        aspect-ratio: 1 / 1;
        border: 1px solid #181818;
    }

    #footer {
        padding-bottom: 10rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(5, max-content);
        grid-column-gap: 1.5rem;
        width: 100%;
    }

    .footerLink {
        color: #cccccc;
        font-size: 0.9rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
    }

    .footerSpan {
        height: 4px;
        width: 4px;
        background-color: #cccccc;
        border-radius: 50%;
    }